body {
  background: #222;
  color: #ddd;
  margin: 0;
  padding: 10px;
}

* {
  font-family: system-ui;
}

button {
  background: #07f;
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: scale 0.1s ease-out;
}

button:hover {
  background: #06f;
}

button:active {
  scale: 0.95;
}

input {
  margin: 0;
  border-radius: 10px;
  border: none;
  background: #444;
  outline: none;
  color: #fff;
  padding: 10px;
}

footer {
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 10px
}